<article>
        <h2>
            <a href="<%= url(article.slug) %> "><%= article.title %></a>
        </h2>
        <time class="timeago" datetime="<%= article.date.xmlschema %>">
            <%= article.date.strftime '%Y/%m/%d' %>
        </time>
    <section class ="content">
        <%= markdown article.content %>
        <hr>
    </section>
</article>